<style type="text/css">
.grid-gallery {
  columns: 5 280px;
  column-gap: 0.5rem;
  width: 96%;
  margin: 0 auto;
}
.grid-item {
  margin: 0 0.5rem 0.5rem 0;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
}
img.grid-item {
  width: 100%;
  transition: all .25s ease-in-out;
}
img.grid-item:hover {
  transform: scale(1.025);
}
/* Lightbox caption styling */
.lb-caption {
  font-size: 16px !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  padding: 12px !important;
  line-height: 1.5 !important;
}
.lb-data .lb-details {
  width: 90% !important;
  text-align: center !important;
  margin: 0 auto !important;
}
</style>

<div class="grid-gallery">
<div class="grid-gallery">
  <a href="frida.jpg" data-lightbox="galeria" data-title="Frida | Olympus Stylus (Mju I) | Fujifilm 400">
    <img src="frida.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="amendoim.jpg" data-lightbox="galeria" data-title="Amendoim | Olympus Stylus (Mju I) | Fujifilm 400">
    <img src="amendoim.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="frida2.jpg" data-lightbox="galeria" data-title="Frida | Olympus Stylus (Mju I) | Fujifilm 400">
    <img src="frida2.jpg" class="grid-item" />
  </a>
</div>


<div class="grid-gallery">
  <a href="0423-KODAKGOLD200-31.jpg" data-lightbox="galeria" data-title="São Francisco | Olympus Stylus (Mju I) | Kodak Gold 200">
    <img src="0423-KODAKGOLD200-31.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="0424-KODAKGOLD200-2.jpg" data-lightbox="galeria" data-title="Olympus Stylus (Mju I) | Kodak Gold 200">
    <img src="0424-KODAKGOLD200-2.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="0424-KODAKGOLD200-17.jpg" data-lightbox="galeria" data-title="Parque Nacional da Sequoia | Olympus Stylus (Mju I) | Kodak Gold 200">
    <img src="0424-KODAKGOLD200-17.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="canyon.jpg" data-lightbox="galeria" data-title="Grand Canyon | Olympus Stylus (Mju I) | Fujifilm 400">
    <img src="canyon.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="gaivota.jpg" data-lightbox="galeria" data-title="Santa Monica Pier | Olympus Stylus (Mju I) | Fujifilm 400">
    <img src="gaivota.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="0424-KODAKGOLD200-12.jpg" data-lightbox="galeria" data-title="Parque Nacional da Sequoia | Olympus Stylus (Mju I) | Kodak Gold 200">
    <img src="0424-KODAKGOLD200-12.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="0422-FUJI400-15.jpg" data-lightbox="galeria" data-title="Grand Canyon | Olympus Stylus (Mju I) | Fujifilm 400">
    <img src="0422-FUJI400-15.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="0422-FUJI400-1.jpg" data-lightbox="galeria" data-title="Primeira foto da minha câmera | Olympus Stylus (Mju I) | Fujifilm 400">
    <img src="0422-FUJI400-1.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="0422-FUJI400-2.jpg" data-lightbox="galeria" data-title="Ju Baldow | Olympus Stylus (Mju I) | Fujifilm 400">
    <img src="0422-FUJI400-2.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="0423-KODAKGOLD200-4.jpg" data-lightbox="galeria" data-title="São Francisco | Olympus Stylus (Mju I) | Kodak Gold 200">
    <img src="0423-KODAKGOLD200-4.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="0423-KODAKGOLD200-12.jpg" data-lightbox="galeria" data-title="| Olympus Stylus (Mju I) | Kodak Gold 200">
    <img src="0423-KODAKGOLD200-12.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="0422-FUJI400-21.jpg" data-lightbox="galeria" data-title="Olympus Stylus (Mju I) | Fujifilm 400">
    <img src="0422-FUJI400-21.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="0423-KODAKGOLD200-13.jpg" data-lightbox="galeria" data-title="Olympus Stylus (Mju I) | Kodak Gold 200">
    <img src="0423-KODAKGOLD200-13.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="0422-FUJI400-31.jpg" data-lightbox="galeria" data-title="Amoeba Music, Hollywood Blvd | Olympus Stylus (Mju I) | Fujifilm 400">
    <img src="0422-FUJI400-31.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="0423-KODAKGOLD200-35.jpg" data-lightbox="galeria" data-title="Olympus Stylus (Mju I) | Kodak Gold 200">
    <img src="0423-KODAKGOLD200-35.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="0423-KODAKGOLD200-6.jpg" data-lightbox="galeria" data-title="São Francisco | Olympus Stylus (Mju I) | Kodak Gold 200">
    <img src="0423-KODAKGOLD200-6.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="0422-FUJI400-18.jpg" data-lightbox="galeria" data-title="Olympus Stylus (Mju I) | Fujifilm 400">
    <img src="0422-FUJI400-18.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="0423-KODAKGOLD200-15.jpg" data-lightbox="galeria" data-title="São Francisco | Olympus Stylus (Mju I) | Kodak Gold 200">
    <img src="0423-KODAKGOLD200-15.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="0423-KODAKGOLD200-12.jpg" data-lightbox="galeria" data-title="Olympus Stylus (Mju I) | Kodak Gold 200">
    <img src="0423-KODAKGOLD200-12.jpg" class="grid-item" />
  </a>
</div>


<div class="grid-gallery">
  <a href="pescador.jpg" data-lightbox="galeria" data-title="Santa Monica Pier | Olympus Stylus (Mju I) | Fujifilm 400">
    <img src="pescador.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="0422-FUJI400-25.jpg" data-lightbox="galeria" data-title="Santa Monica Pier | Olympus Stylus (Mju I) | Fujifilm 400">
    <img src="0422-FUJI400-25.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="0423-KODAKGOLD200-18.jpg" data-lightbox="galeria" data-title="Olympus Stylus (Mju I) | Kodak Gold 200">
    <img src="0423-KODAKGOLD200-18.jpg" class="grid-item" />
  </a>
</div>

<div class="grid-gallery">
  <a href="0423-KODAKGOLD200-16.jpg" data-lightbox="galeria" data-title="São Francisco | Olympus Stylus (Mju I) | Kodak Gold 200">
    <img src="0423-KODAKGOLD200-16.jpg" class="grid-item" />
  </a>
</div>

</div>

<script>
  lightbox.option({
    'resizeDuration': 300,
    'wrapAround': true,
    'fadeDuration': 300,
    'positionFromTop': 100,
    'albumLabel': "Imagem %1 de %2"
  });
</script>

<style>
.lb-data .lb-number {
  display: none !important;
}
</style>

<style>
.text-intro {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
</style>